<form id="register-form" action="/login" method="POST">
    <label>Username: </label>
    <input type="text" name="username" />
    <label>Password: </label>
    <input type="password" name="password" />
    <label>Email: </label>
    <input type="email" name="email"/>
    <button type="submit">register</button>
</form>
